html,body
{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

/* Header */

header
{
	margin-bottom: 150px;
}

.logo
{
	margin-left: 200px;
	margin-top: 25px;
	margin-bottom: -35px;
}

.nav
{
	margin-left: 410px;
	margin-top: -80px;
}

.nav li
{
	display: inline;
	font-size: 1.2em;
	margin-left: 20px;
	color:black;
}

.nav li a:hover
{
	border-bottom: 4px #BF3B58 solid;
	color: #E54C82;
	text-decoration: none;
	padding-bottom: 25px;
}

.nav li a
{
	color: #097068;
	
}

/* Index */
span
{
	margin-left: 15px;
}
.main
{
	background-color: white;
}

cite
{
	color: white;
}

.citation
{
	background-color: #A34F2B ; /* Marron du logo */
	height: 250px;
	width: 100%;
	padding-top: 70px;
	padding-left: 50px;
	font-size: 1em;
	border-bottom: 1px solid black;
}

.citation q
{
	margin-top: 300px;
	color: white;
}

.titre
{
	margin-bottom: 20px;
}

.presentation
{
	width: 100%;
	height: 300px;
	margin-top: 60px;
	font-size: 1.4em;
}


.intervenants
{
	background-color: #3F1F1C;
	padding: 50px;
	font-size: 1.3em;
	border-top: 1px solid black;
}

.intervenants h2
{
	color: #65BCBC;
	font-size: 1.9em;
	margin-bottom: 60px;
	margin-top: -10px;
	text-shadow: 1px 1px black;
}

/*  Contact */

.formulaire
{
	height: 100vh;
	margin-left: 70vh;
}

.background_formulaire
{
	width: 100%;
	height: 100%;
	background-color: #301712;

}

.formulaire h2, label
{
	color: #A2D5C5; /* Vert turquoise du logo */
}

.maps
{
	min-width: 100%;
	width: 1500px;
	border-top: 1px solid black;
}

/* Footer */

.footer
{
	height: 100px;
	width: 100%;
	background-color: #097068; /* #A2D5C5;  Vert turquoise du logo */
	bottom: 0;
	font-size: 1.3em;
}
 .footer p
 {
 	margin-top: 35px;
 	color: black;
 }
