html,body
{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

header
{
	margin-bottom: 30px;
}

.logo
{
	
	display: inline;
	margin-left: 120px;
	margin-top: 15px;
	margin-bottom: -35px;
}

nav
{
	display: inline;
	float: right;
}

.nav li
{
	display: inline;
	font-size: 20px;
	margin-left: 15px;

}

.nav
{
	margin-left: 400px;
}

.jumbotron
{
	background-image: url('../img/candle.jpg');
	background-size: cover;
	height: 300px;
}

.jumbotron q
{
	margin-top: 300px;
	color: white;
	position: relative;
}

cite
{
	color: white;
}

.main
{
	background-color: white;
	font-size: 18px;
}

.cadre_intervenant
{
	border: 1px #F0F1ED solid;
	margin-top: 50px;
	padding: 30px;
	background-color: white;
	height: 500px;
	width: 400px;
}

.maps
{
	width: 1530px;
	margin-right: auto;
	margin-left: auto;
}

.formulaire
{
	height: 80vh;
	margin-left: 70vh;
	width: 100%;
}

.formulaire h2, label
{
	color: #65BCBC;
}

.background_formulaire
{
	background-color: #301712;/* #A34F2B;  marron du logo */
	width: 100%;

}

.footer
{
	height: 100px;
	width: 100%;
	background-color: #65BCBC;
	bottom: 0;
}

.background_header ul
{
	margin-left: 100px;
}