.presentation_mouvement_somatique
{
	width: 100%;
	height: 450px;
	margin-top: 60px;
	font-size: 1.4em;
}

.footer_mouvement_somatique
{
	min-height: 20%;
	width: 100%;
	background-color: #097069; /* #A2D5C5;  Vert turquoise du logo */
	bottom: 0;
	font-size: 1em;
	padding-top: 20px;
	border-top: #5E5E5E 1px solid;
}

.footer_mouvement_somatique p
 {
 	border-bottom: 1px black solid;
 	color: black;
 }

.footer_mouvement_somatique span
{
	font-size: 0.9em;
	color: black;
}
